Setup date range and weekdays

In [75]:
import random
from datetime import datetime, timedelta, date
import pandas as pd

#set start dates for term
start_date = '2023-01-12'
end_date =  '2023-07-01'

#create date dataframe and add weekdays
s = pd.date_range(start_date, end_date, freq='D').to_series()
d = s.dt.day_name()

df = pd.DataFrame(data=d)
df = df.reset_index(level=0)
df.index = df.index + 1
df.rename(columns={'index':'date', 0: 'weekday'}, inplace = True)

        date   weekday
1 2023-01-12  Thursday
2 2023-01-13    Friday
3 2023-01-14  Saturday
4 2023-01-15    Sunday
5 2023-01-16    Monday

Select Tuesdays and Thursdays

In [76]:
#select specific weekday if desired & add dates to exclude
desired_weekday = ['Tuesday', 'Thursday']
korken_closed = ['2023-03-14', '2023-03-15', '2023-06-29', '2023-06-30']

tt_df = df[df.weekday.isin(desired_weekday) & ~df.date.isin(korken_closed)]

In [77]:
#some stats
index = tt_df.index
number_of_rows = len(index)
print(f"The number of kitchen & cleaning days between {start_date} & {end_date} is {number_of_rows}")

The number of kitchen days between 2023-01-12 & 2023-07-01 is 47

In [78]:
#rename df for function to come
dates_data = tt_df.drop('weekday', axis=1, inplace=False)

          date
1   2023-01-12
6   2023-01-17
8   2023-01-19
13  2023-01-24
15  2023-01-26
20  2023-01-31
22  2023-02-02
27  2023-02-07
29  2023-02-09
34  2023-02-14
36  2023-02-16
41  2023-02-21
43  2023-02-23
48  2023-02-28
50  2023-03-02
55  2023-03-07
57  2023-03-09
64  2023-03-16
69  2023-03-21
71  2023-03-23
76  2023-03-28
78  2023-03-30
83  2023-04-04
85  2023-04-06
90  2023-04-11
92  2023-04-13
97  2023-04-18
99  2023-04-20
104 2023-04-25
106 2023-04-27
111 2023-05-02
113 2023-05-04
118 2023-05-09
120 2023-05-11
125 2023-05-16
127 2023-05-18
132 2023-05-23
134 2023-05-25
139 2023-05-30
141 2023-06-01
146 2023-06-06
148 2023-06-08
153 2023-06-13
155 2023-06-15
160 2023-06-20
162 2023-06-22
167 2023-06-27

In [79]:
import numpy as np

# Sample data for debugging
people_data = {
    'person': [f'Person_{i}' for i in range(15)]
}

people = pd.DataFrame(people_data)

#stats
#print(len(people))
#print(len(dates_data))
#print(len(dates_data) // len(people))

15
47
3

In [122]:
#function to evenly distribute each name to as many dates as needed

def assign_people_to_dates(dates_df, people_df):
    num_dates = len(dates_df)
    num_people = len(people_df)
    
    # Calculate the number of people needed for each date (set to 1 in this case)
    people_per_date = 1
    total_people_needed = people_per_date * num_dates
    
    # Repeat the people list to match the total number of assignments
    people_list = people_df['person'].tolist() * (total_people_needed // num_people)
    remaining_people = total_people_needed % num_people
    if remaining_people > 0:
        people_list += people_df['person'].head(remaining_people).tolist()

    # Create DataFrames for morning and evening assignments
    dates_df['person_kitchen'] = np.array_split(people_list[:total_people_needed], num_dates)
    dates_df['person_cleaning'] = np.array_split(people_list[:total_people_needed], num_dates)

    # Concatenate morning and evening assignments
    kitchen_df = dates_df[['date', 'person_kitchen']].explode('person_kitchen')
    cleaning_df = dates_df[['date', 'person_cleaning']].explode('person_cleaning')

      # Shuffle the 'Name' columns
    kitchen_shuffle = np.random.permutation(kitchen_df['person_kitchen'])
    kitchen_df['person_kitchen'] = kitchen_shuffle
    cleaning_shuffle = np.random.permutation(cleaning_df['person_cleaning'])
    cleaning_df['person_cleaning'] = cleaning_shuffle

    # Combine morning and evening DataFrames and drop the intermediate columns
    result_df = kitchen_df.merge(cleaning_df, on = 'date', how = 'inner')

    return result_df

# Call the function with your DataFrames
assigned_df = assign_people_to_dates(dates_data, people)

assigned_df

         date person_kitchen person_cleaning
0  2023-01-12       Person_7        Person_0
1  2023-01-17       Person_2        Person_1
2  2023-01-19      Person_12       Person_12
3  2023-01-24      Person_13        Person_2
4  2023-01-26       Person_9        Person_9
5  2023-01-31       Person_1        Person_7
6  2023-02-02       Person_0       Person_11
7  2023-02-07      Person_12        Person_4
8  2023-02-09       Person_0       Person_10
9  2023-02-14      Person_14        Person_7
10 2023-02-16      Person_12       Person_14
11 2023-02-21       Person_3        Person_5
12 2023-02-23       Person_6        Person_1
13 2023-02-28       Person_9       Person_10
14 2023-03-02       Person_1        Person_4
15 2023-03-07       Person_2       Person_14
16 2023-03-09       Person_0        Person_3
17 2023-03-16      Person_10       Person_11
18 2023-03-21       Person_5        Person_1
19 2023-03-23       Person_1        Person_6
20 2023-03-28       Person_1        Person_6
21 2023-03-30       Person_4       Person_13
22 2023-04-04      Person_11       Person_11
23 2023-04-06      Person_11        Person_6
24 2023-04-11       Person_5        Person_0
25 2023-04-13       Person_6        Person_3
26 2023-04-18       Person_8        Person_9
27 2023-04-20       Person_8       Person_12
28 2023-04-25      Person_10        Person_8
29 2023-04-27      Person_10        Person_5
30 2023-05-02       Person_3        Person_7
31 2023-05-04       Person_7        Person_5
32 2023-05-09       Person_3       Person_13
33 2023-05-11       Person_0       Person_10
34 2023-05-16       Person_7        Person_8
35 2023-05-18      Person_11        Person_2
36 2023-05-23       Person_4        Person_1
37 2023-05-25       Person_4       Person_13
38 2023-05-30      Person_13        Person_9
39 2023-06-01       Person_9        Person_2
40 2023-06-06       Person_2        Person_0
41 2023-06-08      Person_13       Person_12
42 2023-06-13       Person_5        Person_0
43 2023-06-15      Person_14        Person_8
44 2023-06-20       Person_8       Person_14
45 2023-06-22      Person_14        Person_3
46 2023-06-27       Person_6        Person_4

In [123]:
#verify counts
result = assigned_df.groupby('person_kitchen').size().reset_index(name='count')
result2 = assigned_df.groupby('person_cleaning').size().reset_index(name='count')

print(result)
print(result2)

   person_kitchen  count
0        Person_0      4
1        Person_1      4
2       Person_10      3
3       Person_11      3
4       Person_12      3
5       Person_13      3
6       Person_14      3
7        Person_2      3
8        Person_3      3
9        Person_4      3
10       Person_5      3
11       Person_6      3
12       Person_7      3
13       Person_8      3
14       Person_9      3
   person_cleaning  count
0         Person_0      4
1         Person_1      4
2        Person_10      3
3        Person_11      3
4        Person_12      3
5        Person_13      3
6        Person_14      3
7         Person_2      3
8         Person_3      3
9         Person_4      3
10        Person_5      3
11        Person_6      3
12        Person_7      3
13        Person_8      3
14        Person_9      3

In [124]:
#check how it looks in table

assigned_df.to_csv('lottocheck.csv', index=False)